
/* 
Color Scheme: 
#dbdbdb Alto
#C4A753 Roti
#93A49C Pewter
#966E55 Leather
#4B5539 Kelp

*/

* {
    
}

html {
    min-height: 100%;
    border: solid yellow 1px;
}

body {
    margin: 0;
    background: #dbdbdb;
    min-height: 100%;
    position: relative;
}

/*
body:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 40%;
    left: 0;
    right: 0;
    background: #4B5539 ;
    z-index:-1;
}
*/

main {
    width: 100%;
    border: solid purple 1px;
}

h1 {
    text-align: center;
    background-color: lightseagreen;
    padding: 5px;
    font-weight: bold;
}

h3 {
    text-align: center;
    background-color: lightseagreen;
}

.container {

}

.col-lg {

}

/* Design for Navbar */

.navbar {
    background-color: #3F3F3E;

}

    .navbar a {
        color: #F8F9F9;

    }

    .navbar button {
        background-color: #F8F9F9;
    }

    .navbar .offcanvas {
        background-color: #3F3F3E;
        color: #F8F9F9;

    }

img.profilePic {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

img.contactIcon {
    max-width: 30px;
    height: auto;

}

.backdrop {
    background-color: #4B5539;
    position: absolute;
    z-index: -1;
    height: 32%;
    width: 75%;
    left: 120px;
}

.backdrop2 {
    background-color: #C4A753;
    position: absolute;
    z-index: -1;
    height: 53%;
    width: 84%;
    right: 100px;
    bottom: 20%;
}



.introDesign {
    background-color: #966E55;
    color: black;
}

.contactInfo {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: #966E55;
}

/* Design for Work */

.indvWork {
    background-color: #A4945B;
}

.workLocation {
    text-align: end;
}

.workTime {
    text-align: end;
}

img.kpDraw {
    margin: auto;
}


img.shakaDraw {
    margin: auto;
}

/* Design for Projects */

.indvProject {
    background-color: lightcoral;
}

/* Design for Education */

#education {
    text-align: center;
}

#educationDesign {
    background-color: lightcoral;
}

#educationDesign .row {
    margin-bottom: 10px;
    padding:5px;
    width: 100%
}

    #educationDesign .row p, i, h5 {
        margin-bottom: 5px;
    }

.row .educationTitle {
    width: fit-content;
    float: inline-start;
}

/* Design for footer elements and animation */

footer ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style-type: none;
}

@media (min-width: 500px) {
    footer ul {
      grid-auto-flow: column;
    }
}

footer a {
    color: #F8F9F9;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
  
footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
    color: #F8F9F9;
}
  
footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
  
footer li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
}

footer div {
    display: flex;
    height: auto;
    min-height: 100px;
    width: 100%;
    background-color: #3F3F3E;
    line-height: 1.3;
}
  
@keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
}

/* Contact copy info button design */

.contactLink {
    outline: 0;
    align-items: center;
    text-align: left;
    width: auto;
    background-color: #4B5539;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 16px;
    overflow: hidden;
    padding: 6px 8px;
    text-decoration: none;
    transition: all .14s ease-out;
    white-space: nowrap;
}
.contactLink:hover {
        box-shadow: 4px 4px 0 #000;
        transform: translate(-4px,-4px);
    }
        :focus-visible{
        outline-offset: 1px;
}

/* External link button design */

.ext-link {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: white;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    flex-shrink: 0;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 6px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}
.ext-link:hover {
        box-shadow: 4px 4px 0 #000;
        transform: translate(-4px,-4px);
    }
        :focus-visible{
        outline-offset: 1px;
}

/* Tooltips */

.hovertip {
    position: relative;
    display: inline-block;
}

.hovertip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 150px;
    bottom: 90%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.hovertip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.hovertip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
